[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/admin/*"
  to = "/admin/index.html"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  SITE_URL = "https://gerontologaviviana.com"

[context.deploy-preview.environment]
  SITE_URL = "https://deploy-preview-$DEPLOY_ID--sitiowebgerontologavivianatonguino.netlify.app"

[context.branch-deploy.environment]
  SITE_URL = "https://$BRANCH--sitiowebgerontologavivianatonguino.netlify.app"